{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/cause.css'%}">



<!doctype html>
<html lang="en">
  <head>
      <!-- Required meta tags -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/d5ab304f57.js" crossorigin="anonymous"></script>


      <style>
html {
  scroll-behavior: smooth;
}
</style>

    <title>ngo</title>
    {% include 'navbar.html' %}
    <body>


<!-- Page Wrapper -->
<header class="hero" id="home">
    <div class="container ">
        <p class="p">WE ARE FOR ALL</p >
      <h1>Charity/Children/Nature</h1>
<a class="btn btn-primary btn-lg text-uppercase" href="#helpus" >EXPLORE</a>

  </div>
</header>>
<section class="page-section" id="helpus">
  <div class="container ">
      <div class="text-center">
          <h2 class="section-heading text-uppercase font-weight-bold p-5">
            .. LETS MAKE A BETTER PLANET..
          </h2>
          <!-- <h3 class="section-subheading text-muted">
              Reason why you donate here.
          </h3> -->
      </div>
      <!-- end of title -->
      <!-- single item -->
      <div class="row text-center">
          <div class="col-md-4 ">
              <div class="cards text-center">
                <div class="card-body">
              <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x  i1 " aria-hidden="true"></i>
           <i class="fas fa-hand-holding-usd fa-stack-1x fa-inverse i2" aria-hidden="true" style="color:green"></i>

              </span>


              <h4 class="my-3">Give Donations</h4>
              <p class="text-muted ital">One of the best feelings in the world is giving. The positive energy is contagious. With just one act of kindness, you can inspire others to go out and plant seeds of happiness through giving, too.</p>
          </div>
        </div>
          </div>
          <!--  -->

            <div class="col-md-4 ">
                <div class="cards text-center">
                  <div class="card-body">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x  i3 " aria-hidden="true"></i>
              <i class="fas fa-handshake fa-stack-1x fa-inverse i4" aria-hidden="true"style="color:yellow"></i>
                </span>
                <h4 class="my-3">Support Us</h4>
                <p class="text-muted ital">Your support is what makes our poverty-fighting work possible. You can trust us to spend our funds wisely and effectively to help people in need.</p>
            </div>
          </div></div>
          <!--  -->

            <div class="col-md-4 ">
                <div class="cards text-center">
                  <div class="card-body">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x  i5 " aria-hidden="true"></i>
              <i class="fas fa-tshirt fa-stack-1x fa-inverse i6" aria-hidden="true"style="color:green"></i>
                </span>
                <h4 class="my-3">Become Volunteer</h4>
                <p class="text-muted ital">Become a part of charity4u. <br>And help people in the every possible way.<br>Your greatest gift is the ability to share your blessings; it’s what makes life meaningful.</p>
            </div>
          </div></div>

      <!-- end of single item -->
  </div>
</div>
</section>



<!-- causes -->
<section class="page-section jumbo" id="causes">
<div class="container ">
    <div class="text-center">
        <h2 class="section-heading text-uppercase font-weight-bold ">
          Major Causes
        </h2>
        <!-- <h3 class="section-subheading text-muted">
            Reason why you donate here.
        </h3> -->
    </div>
    <!-- end of title -->
    <!-- single item -->
    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <img class="card-img-top" src="https://scontent.fpnq2-1.fna.fbcdn.net/v/t1.6435-9/142080467_442626247093373_5414727426055304069_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=B67InvWuIIsAX-YRJvh&_nc_ht=scontent.fpnq2-1.fna&oh=82d5a97118c172e01a99e3724339312e&oe=618E7053" alt="Card image cap">
              <div class="card-body">
                <h4 class="my-3">Save a child’s life</h4>
                <p class="text-muted ital">Every day, approximately 15,000 children under five die.Most of them are preventable.<br> When you donate to effective children’s charities, you’re creating a world where all kids survive and thrive.</p>
        </div>
      </div>
        </div>
      <!--  -->
      <div class="col-md-4 mb-4">
        <div class="card text-center">
            <img class="card-img-top" src="https://scontent.fpnq2-1.fna.fbcdn.net/v/t1.6435-9/141994183_442626213760043_2617897731817523109_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=neCJd8d8MK0AX8XwadV&tn=CAsdcxmn25pPWBli&_nc_ht=scontent.fpnq2-1.fna&oh=5a228c0731f50ed10350724f42e9456f&oe=618DE8CA" alt="Card image cap">
          <div class="card-body">
            <h4 class="my-3">End of hunger</h4>
            <p class="text-muted ital">Close to a billion people – one-eighth of the world's population – still live in hunger. <br><br>"If you can’t feed a hundred people, then feed just one.”</p>
    </div>
  </div></div>
  <!--  -->
  <div  class="col-md-4 ">
    <div class="card text-center">
        <img class="card-img-top" src="https://s01.sgp1.digitaloceanspaces.com/large/857985-73874-femenyakvt-1510748799.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="my-3">shelter for homeless People </h4>
        <p class="text-muted ital ">Give the shelter to them .<br><br> "As you grow older, you will discover that you have two hands: one for helping yourself, the other for helping others".</p>
</div>
</div>
  </div >

    <!-- end of single item -->
</div>
</div>
</section>



<!-- about us -->
    <section class="about-section mt-5" id="about" >
      <div class="container">
          <div class="text-center">
              <h2 class="section-heading text-uppercase pt-5">About us</h2>
              <h3 class="text-muted ital">
                  A charity club <span class="text-success">"আস্থা Foundation"</span>
              </h3>

          </div>
          <!-- end of title -->
          <section id="about" class="about">
              <div class="container-fluid">
                  <h3 class="bulbul">OUR TEAM</h3>
                  <div class="row">
                      <div class="col-xl-5 col-lg-6 d-flex justify-content-center align-items-stretch pb-5 pt-5">
                          <img src="https://scontent.fpnq2-1.fna.fbcdn.net/v/t1.6435-9/142086529_443284730360858_4533007208837160195_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=e3f864&_nc_ohc=Vyiyb2XgvWwAX_P6f9G&_nc_ht=scontent.fpnq2-1.fna&oh=a9d1f784c549463dabca547cccce34c6&oe=618F4B1C" class="img-fluid "  alt="">

                      </div>

                      <div class="col-xl-7 col-lg-6 icon-boxes flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                          <h3>
                              “We make a living by what we get, but we make a life by what we give.”
                          </h3>
                          <p>
                              আস্থা foundation is  set up to provide help and raise money for those in need
                          </p>
                          <div class="icon-box">
                              <div class="icon">
                                  <i class="fas fa-book-reader"></i>
                              </div>
                              <h4 class="title" >
                                  <a href="">We Save the child life.</a>
                              </h4>
                              <p class="detail">
                                  We EDUCATE them for there better FUTURE.
                              </p>
                          </div>
                          <div class="icon-box">
                              <div class="icon">
                                  <i class="fas fa-utensils"></i>
                              </div>
                              <h4 class="title" >
                                  <a href="">Feed to needy's</a>
                              </h4>
                              <p class="detail">
                                  We give food,cloths to the needy people's as well as animals too.
                              </p>
                          </div>
                          <div class="icon-box">
                              <div class="icon">
                                  <i class="fas fa-home"></i>
                              </div>
                              <h4 class="title" >
                                  <a href="">For the Old One's</a>
                              </h4>
                              <p class="detail">
                                  We provide a Home where they can get everything they needed.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
      </div>

  </section>
<!-- end of about us -->

  <!-- what we do -->
  <section class="   " style="background-color: rgb(9, 21, 63);" id="projects">
      <div class="container ">
          <div class="text-center">
              <h2 class="section-heading text-uppercase font-weight-bold pt-2 " style="color: white;">
                What we do
              </h2>
              <h3 class="text-muted ital pb-2">
                  Help us for our most humanist project
              </h3>
          </div>
          <!-- end of title -->
          <!-- single item -->
          <div class="row text-center">
              <div class="col-md-4 mb-4">
                  <div class="card text-center">
                    <div class="card-body">
                  <span class="fa-stack fa-4x">
                      <i class="fas fa-circle fa-stack-2x  i1 "></i>
                <i class="fas fa-book-reader fa-stack-1x fa-inverse i2"></i>
                  </span>
                  <h4 class="my-3">Charity for study</h4>
                  <p class="text-muted ital">Take a responsibility of making a child eduacate in your life.</p>
                  <a href="#donate" class="btn btn-warning btn-lg ">Donate -></a>
              </div>
            </div></div>
              <!--  -->

                <div class="col-md-4 mb-4">
                    <div class="card text-center">
                      <div class="card-body">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x  i3 "></i>
                  <i class="fas fa-tint fa-stack-1x fa-inverse i4"></i>
                    </span>
                    <h4 class="my-3">Charity for water</h4>
                    <p class="text-muted ital">Don't waste water. And provide some water to the needy.</p>
                    <a href="#donate" class="btn btn-primary btn-lg ">Donate -></a>
                  </div>
              </div></div>
              <!--  -->

                <div class="col-md-4 mb-4 ">
                    <div class="card text-center">
                      <div class="card-body">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x  i5 "></i>
                  <i class="fas fa-pizza-slice fa-stack-1x fa-inverse i6"></i>
                    </span>
                    <h4 class="my-3">Work For food</h4>
                    <p class="text-muted ital">Make a habbit to give food packets to needy one's.</p>
                    <a href="#donate" class="btn btn-danger btn-lg ">Donate -></a>
                  </div>
              </div></div>

          <!-- end of single item -->
      </div>
  </section>


<!-- developer -->
  <section class="team" id="developer">

      <div class="container">
          <div class="section-title">
              <h2 class="text-center">
                  Developer
              </h2>
              <p class="text-center"></p>
          </div>

          <div class="row">
              <div class="justify-content-center mx-auto offset-md-2 col-md-3">
                  <div class="team-1">
                      <div class="pic">
                          <img src="https://avatars.githubusercontent.com/u/59921969?s=400&u=f2de2f66e8ea13d8a9d6ae297d76e1f399fc6017&v=4" class="img-fluid" alt="">
                      </div>
                      <div class="team-info" >
                          <h4>Ranajoy Bhattacharjee</h4>

                          <span>Connect with me and give us you valuable feedback </span>
                          <div class="social">
                              <a href="https://github.com/ranajoy19">
                                  <i class="fab fa-github "></i>
                              </a>
                              <a href="https://www.linkedin.com/in/ranajoy-bhattacharjee-1b37b5150/">
                                  <i class="fab fa-linkedin "></i>
                              </a>
                              <a href="https://www.youtube.com/channel/UC8LrrwWvXBVN-XLzfk5p4Eg">
                                  <i class="fab fa-youtube "></i>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- end of team section -->


  {% block content %}



  {% endblock %}


 </div>








<section class="page-section jumbo" id="contactus">

    <!-- footer -->
    <footer class="footer ">
      <div class="mt-5">
      <div class="footer-top">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 col-md-6">
                      <div class="footer-des">
                          <h3>আস্থা  </h3>
                          <p class="pb-3">A Charitable o organization which helps the people who are in need !! </p>
                          <p>Chinsurah,Hooghly,<br>West Bengal, India 712103<br><br><strong>Phone:</strong>+9131875590<br>
                          <strong>Email:</strong> asthafoundation3@gmail.com<br></p>
                          <div class="social-links mt-3">
                              <a href="https://github.com/ranajoy19">
                                  <i class="fab fa-github "></i>
                              </a>
                              <a href="https://www.linkedin.com/in/ranajoy-bhattacharjee-1b37b5150/">
                                  <i class="fab fa-linkedin "></i>
                              </a>
                              <a href="https://www.youtube.com/channel/UC8LrrwWvXBVN-XLzfk5p4Eg">
                                  <i class="fab fa-youtube "></i>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-2 col-md-6 footer-links">
                      <h4>Useful Links</h4>
                      <ul>
                          <li>
                              <i class="fas fa-chevron-right"></i>
                              <a href="/">Home</a>
                          </li>
                          <li>
                              <i class="fas fa-chevron-right"></i>
                              <a href="/#about">About us</a>
                          </li>
                          <li>
                              <i class="fas fa-chevron-right"></i>
                              <a href="/#donate">Donate Now !!</a>
                          </li>
                          <li>
                              <i class="fas fa-chevron-right"></i>
                              <a href="/list">list of donators</a>
                          </li>
                          <li>
                              <i class="fas fa-chevron-right"></i>
                              <a href="/#about">About Team</a>
                          </li>

                      </ul>
                  </div>
                  <div class="col-lg-2 col-md-6 footer-links">
                      <h4>Other projects</h4>
                      <ul>
                          <li>
                              <i class="fas fa-chevron-right"></i>
                              <a href="{% url 'home' %}">আস্থা</a>
                          </li>
                          <li>
                              <i class="fas fa-chevron-right"></i>
                              <a href="https://covid19detection.pythonanywhere.com/">Covid19-detection and tracker</a>
                          </li>


                      </ul>
                  </div>
                  <div class="col-lg-4 col-md-6 footer-newsletter">
                      <h4  class="font-weight-bold">
                          Join Our Team !!
                      </h4>
                      <ul>

                              <i class="fas fa-chevron-right"></i>
                        <a href="https://chat.whatsapp.com/LgbIS1QKsacANmx2Q1XyK4" style="color:black"> Start voluteering !!<br>  Start Contributing !! <br> Start helping !!</p></a>

                      </ul>
                      <form>
                            <input  type="email" name="footerEmail" placeholder="ranajoybhattacharjee19@gmail.com">
                          <div>
                              <input  type="submit" value="Subscribe">
                          </div>
                      </form>
                  </div>
              </div>
              <div class="mx-auto text-center pt-5">
                <p ><strong> <a href="{% url 'home' %}">আস্থা </a> <br> This website is made with  <i class="fas fa-heart"></i> by <a href="">RANAJOY BHATTACHARJEE</a> </strong></p>
              </div>

          </div>
      </div>
      </div>

  </footer>
  <!-- end of footer -->
</section>


<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
